$main-color: rgb(35, 30, 210);
$color-secondary: rgb(240, 20, 165);
$main-opacity: 0.4;
$main-gradient: linear-gradient(230deg, rgba($main-color, $main-opacity) 0%, rgba($color-secondary, $main-opacity) 100%);